*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    text-decoration: underline;
    font-size: 65px;
    margin-top: 50px;
    text-align: center;
}
.calculator{
    background-color:black;
    padding:15px;
    height:580px;
    max-width: 400px;
    margin: 0 auto;
    border: solid 1px #ff0000;
    box-shadow: 0 2px 5px rgba(88, 50, 50, 0.3);
    border-radius: 15px;
    margin-top: 50px;

    background: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(5px);
    border: none;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

#result{
    text-align: right;
    letter-spacing: 2px;
    height:120px;
    width: 100%;
    padding:30px;
    font-size: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(255, 255, 255);
    background-color: rgb(39, 3, 3);
    color: white; 
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

button{
    padding: 20px;
    font-size:30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.15s ease, background-color 0.2s; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
}

button:hover{
    background-color:#fff;
    color: black;
    transform: scale(1.15);
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    filter: brightness(1.2);
}

button:active {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(255,147,0,0.8);
}

.clear{
    background-color:rgb(138,138,138);
    color:white;
}

.clear:hover{
    background-color:#fff;
    color: black;
}
.number{
    background-color:#5e5e5d;
    color: #fff;
}
.number:hover{
    background-color:#fff;
    color: black;
}
.operator{
     background-color: #ff9300;
     color:white;
}
.operator:hover{
    background-color: #fff;
    color: black;
}

.equals{
    border-radius:50px ;
    background-color: #ff9300;
    grid-column: span 2;
    color: white;
}
.equals:hover{
    background-color:rgb(122, 116, 207);
    color:white;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.18); }
    100% { transform: scale(1); }
}

button.pop {
    animation: pop 0.15s ease;
}